{% extends 'base.html' %}
{% block content %}
    <div id="current-week" class="row" style="text-align:center">
        <h1>NFL Week {{week}}</h1>
    </div>
    <div id="current-schedule" class="row">
        <div class="col-xs-9">
            <div class="table-responsive">
                <table id="current-week-games" class="table table-striped table-hover">
                    <thead>
                      <tr>
                          <th>Away Team</th>
                          <th>Home Team</th>
                          <th>Start Time</th>
                          <th>Score</th>
                          <th>Finished</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for game in games %}
                        <tr>
                            <td>{{game.away_team}}</td>
                            <td>{{game.home_team}}</td>
                            <td>{{game.start_time | date:"l m/d/Y @ P"}}</td>
                            <td>{{game.away_score}} - {{game.home_score}}</td>
                            <td>{% if game.finished %} YES {% else %} NO {% endif %}</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="5" align="center">No Game Data This Week</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-3">
            <table id="bye-week-table" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Teams on Bye</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in byes %}
                        <tr>
                            <td>{{team}}</td>
                        </tr>
                    {% empty %}
                        <tr><td>No Teams on Bye This Week</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}